{{extend '../_layout/home.html'}} {{block 'title'}}{{'多人博客 - 添加文章'}} {{/block}} {{block 'content'}}
<section class="container">
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="/new">
                <input type="hidden" name="_id" value="{{ user._id }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">选择板块</label>
                    <select class="form-control" name="tag">
                    <option value="分享">分享</option>
                    <option value="问答">问答</option>
                    <option value="招聘">招聘</option>
                    <option value="客户端测试">客户端测试</option>
            </select>
                </div>
                <div class="form-group">
                    <label>标题</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>内容</label>
                    <textarea class="form-control" rows="3" minlength="5" required name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">发表文章</button>
            </form>
        </div>
    </div>
</section>
{{/block}}