<div class="admin_aside">
    <ul class="aside_menu">
        <li>
            <a href="/myhome"><i class="glyphicon glyphicon-globe"></i><span>仪表盘</span></a>
        </li>
        <li>
            <a href="/article"><i class="glyphicon glyphicon-pushpin"></i><span>文章</span></a>
        </li>
        <li>
            <a href="/pinglun"><i class="glyphicon glyphicon-comment"></i><span>评论<i class="badge">{{ msg.aboutme_num }}</i></span></a>
        </li>
        <li>
            <a href="javascript:;" class="toggle_menu"><i class="glyphicon glyphicon-arrow-left"></i><span>收起菜单</span></a>
        </li>
    </ul>
</div>